Package: enigma2-plugin-extensions-screennames
Version: 1.03-20221106
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Show Skin Screen Names by KiddaC
Source: https://www.linuxsat-support.com
